.container {
  display: flex;
  flex-direction: row;
}

.image {
  height: 322.66666666666667px;
  width: 69.33333333333333px;
}

.leftContainer {
  //display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: rosybrown;
}

.rightContainer {
  background-color: #00d4b4;
  flex: 3;
  align-items: center;
  justify-content: center;
  display: flex;
}


.childTemperatureTextContainer {
  font-size: 100px;
  font-family: "Sukhumvit Set";
  color: darkslategrey;

}
