.container {
  display: flex;
  flex-direction: row;
}


.imageWrapper {
  //background-color: #2f6fad;
  position: relative;
  height: 322.66666666666667px;
  width: 69.33333333333333px;
}

.image {
  position: absolute;
  height: 322.66666666666667px;
  width: 69.33333333333333px;
}

.imageBar {
  width: 40px;
  height: 200px;
  background-color: dodgerblue;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  position: absolute;
}

.leftContainer {
  //display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: darkslategrey;
}

.rightContainer {
  background-color: #00d4b4;
  flex: 3;
  align-items: center;
  justify-content: center;
  display: flex;
}


.childTemperatureTextContainer {
  font-size: 100px;
  font-family: "Sukhumvit Set";
  color: darkslategrey;

}
